	<section id="about-website">
	</section>
	<section itemscope itemtype="http://data-vocabulary.org/Person">
		<h1>About Me</h1>
		<h2>Contact Information</h2>
		<dl class="list">
			<dt>Name</dt>
			<dd itemprop="name">Amjad Mohamed</dd>
			<dt>Nick Name</dt>
			<dd itemprop="nickname">Andho</dd>
			<dt>Position</dt>
			<dd><span itemprop="title">Developer</span> at <a itemprop="affiliation" href="http://www.alliedmaldives.com">Allied Insurance Company of the Maldives</a></dd>
			<dt>Mailing Address</dt>
			<dd itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
				<span itemprop="street-address">G. Sinamale' 1 (11-02), Buruzu Magu</span><br>
				<span itemprop="region">Kaafu</span>, <span itemprop="locality">Malé</span><br>
				<span itemprop="postal-code">20112</span><br>
				<span itemprop="country-name">Maldives</span>
			</dd>
		</dl>
		<h2>Digital Footprints?</h2>
		<ul>
			<li><a itemprop="url" href="http://blog.andho.com">Blog</a></li>
			<li><a itemprop="url" href="http://plus.google.com/109372953760940036839">Google Plus Profile</a></li>
			<li><a itemprop="url" href="http://github.com/andho">Github page</a></li>
			<li><a itemprop="url" href="http://facebook.com/andho">Facebook Profile</a></li>
			<li><a itemprop="url" href="http://twitter.com/andhos">Twitter page</a></li>
		</ul>
	</section>
	<section>
		<h2>Projects</h2>
		<p>See <a href="projects" id="projects">my projects</a> at the projects page</p>
	</section>
</script>