	<section>
		<h1>Projects</h1>
		<dl>
			<dt><h2><a href="project/1/simdal-php-orm-for-ddd">SimDAL - <abbr title="Domain Driven Design">DDD</abbr> for PHP</a></h2></dt>
			<dd>SimDAL Description</dd>
			<dt><h2><a href="project/2/jquery-descriptify-plugin">Jquery Descriptify</a></h2></dt>
			<dd>Descriptify Description</dd>
			<dt><h2><a href="project/3/graylog2-logger-for-php-and-zend-log">UBelt-Graylog2-Logger</a></h2></dt>
			<dd>Graylog2 Logger for Zend_Log</dd>
			<dt><h2><a href="project/4/watchmen-keep-track-of-movies-youve-watched">WatchMen</a></h2></dt>
			<dd>Desktop app to keep track of movies you have watched on the file system</dd>
		</dl>
	</section>
