@CHARSET "UTF-8";
body {
	background-color: black;
	margin: 0;
	padding: 0;
}
header {
	background-color: white;
	padding: 10px;
}
nav#main-nav {
	background-color: white;	
	padding: 10px;	
}
section#main {
	background-color: white;
	padding: 10px;
}
footer {
	background-color: black;
	color: gray;
	padding: 10px;
	text-align: center;	
}
footer #best-viewed-with {
	color: white;
}